#main-banner {
    height: 1080px;
    overflow: hidden;
    position: relative;
}

.layer {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 1080px;
    position: fixed;
    width: 100%;
    z-index: -1;
}

.layer-1 {
   background-image: url(‘input_link_to_image_here');
}
.layer-2 {
   background-image: url(‘input_link_to_image_here');
}
